extends layout

block body
    div
        h2 pablo
            ul
                li
                    label(for='token') Server Token
                    input(type=text, ng-model='server.token', name='token')
                li
                    label(for='startDate') Start Date
                    input(type=text, ng-model='server.startDate', name='startDate')
                li
                    label(for='endDate') End Date
                    input(type=text, ng-model='server.endDate', default='mm/dd/yy', name='endDate')
        a(href='#', ng-click='fetch(server)') Get Data

        div

    .key
        .parent
            .redirect redirect
            .appCache appCache
            .dns dns
            .tcp tcp
            .request request
            .response response
            .processing processing
            .load load
            div Total Time

    .resultsContainer
        .resultBox(ng-repeat='result in results', style='width: {{ result.totalDuration }}px')
            .parent(title='{{ result.totalDuration }}ms', )
                .redirect(title='{{ result.redirect }}ms', style='width: {{ (result.redirect / result.totalDuration) * 100 }}%') 
                .appCache(title='{{ result.appCache }}ms', style='width: {{ (result.appCache / result.totalDuration) * 100 }}%')
                .dns(title='{{ result.dns }}ms', style='width: {{ (result.dns / result.totalDuration) * 100 }}%')
                .tcp(title='{{ result.tcp }}ms', style='width: {{ (result.tcp / result.totalDuration) * 100 }}%')
                .request(title='{{ result.request }}ms', style='width: {{ (result.request / result.totalDuration) * 100 }}%')
                .response(title='{{ result.response }}ms', style='width: {{  (result.response / result.totalDuration) * 100 }}%')
                .processing(title='{{ result.processing }}ms', style='width: {{ (result.processing / result.totalDuration) * 100 }}%')
                .load(title='{{ result.load }}ms', style='width: {{ (result.load / result.totalDuration) * 100 }}%')

    script(src='/js/angular.js')
    script(src='/js/app.js')
    script(src='/js/services.js')
    script(src='/js/controllers.js')
    script(src='/js/filters.js')
    script(src='/js/directives.js')
